.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}

input-div {
  margin: 20px;
  position: relative;
  display: inline-block;
}
.popup-box {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 3px;
  width: 87%;
  background: #ccc;
  display: none;
}
.info {
  cursor: pointer;
}
